In [71]:
import sys
print(sys.executable)

/home/eduardo/Downloads/event_manager/venv/bin/python

In [72]:
! /bin/python3.10 -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/eduardo/.local/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in /home/eduardo/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in /home/eduardo/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/eduardo/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

The code bellow reads a CSV file using the read_csv function from the pandas library. It first tries to read the file with the encoding 'latin1'. If a UnicodeDecodeError occurs, it retries reading the file with the encoding 'iso-8859-1'. The resulting DataFrame is then filtered to exclude rows where the 'Tour' column value is in the list of tours to exclude. The filtered DataFrame is assigned back to the variable df_taylor.

In [73]:
import os
import pandas as pd

In [74]:
file = r"data/raw_data/taylor/taylor.csv"

if not os.path.exists(file):
    raise FileNotFoundError(f"File not found: {file}")

try:
    df_taylor = pd.read_csv(file, encoding='latin1')
except UnicodeDecodeError:
    df_taylor = pd.read_csv(file, encoding='iso-8859-1')
    
# Remove tours that occour before 2018
tours_to_exclude = ['Fearless_Tour', 'Speak_Now_World_Tour', 'The_Red_Tour', 'The_1989_World_Tour']
df_taylor = df_taylor[~df_taylor['Tour'].isin(tours_to_exclude)]

In [75]:
df_taylor.reset_index(drop=True, inplace=True) # reset index

In [76]:
df_taylor.insert(0, "main_attraction", "Taylor Swift") # insert column with main attraction
df_taylor.insert(0, "event_id", range(1, 54)) # insert column with event_id

In [77]:
df_taylor.fillna("-", inplace=True)
df_taylor.rename(columns={'Opening act(s)': 'Other_acts'}, inplace=True)

In [78]:
import json
df_taylor

,event_id,main_attraction,City,Country,Venue,Other_acts,Attendance (tickets sold / available),Revenue,Tour
0,1,Taylor Swift,Glendale,United States,University of Phoenix Stadium,Camila Cabello\nCharli XCX,"59,157 / 59,157","$7,214,478",Reputation_Stadium_Tour
1,2,Taylor Swift,Santa Clara,United States,Levi's Stadium,Camila Cabello\nCharli XCX,"107,550 / 107,550","$14,006,963",Reputation_Stadium_Tour
2,3,Taylor Swift,Santa Clara,United States,Levi's Stadium,Camila Cabello\nCharli XCX,"107,550 / 107,550","$14,006,963",Reputation_Stadium_Tour
3,4,Taylor Swift,Pasadena,United States,Rose Bowl,Camila Cabello\nCharli XCX,"118,084 / 118,084","$16,251,980",Reputation_Stadium_Tour
4,5,Taylor Swift,Pasadena,United States,Rose Bowl,Camila Cabello\nCharli XCX,"118,084 / 118,084","$16,251,980",Reputation_Stadium_Tour
5,6,Taylor Swift,Seattle,United States,CenturyLink Field,Charli XCX,"56,021 / 56,021","$8,672,219",Reputation_Stadium_Tour
6,7,Taylor Swift,Denver,United States,Sports Authority Field at Mile High,Camila Cabello\nCharli XCX,"57,140 / 57,140","$7,926,366",Reputation_Stadium_Tour
7,8,Taylor Swift,Chicago,United States,Soldier Field,Camila Cabello\nCharli XCX,"105,208 / 105,208","$14,576,697",Reputation_Stadium_Tour
8,9,Taylor Swift,Chicago,United States,Soldier Field,Camila Cabello\nCharli XCX,"105,208 / 105,208","$14,576,697",Reputation_Stadium_Tour
9,10,Taylor Swift,Manchester,England,Etihad Stadium,Camila Cabello\nCharli XCX,"77,258 / 77,258","$6,169,724",Reputation_Stadium_Tour
10,11,Taylor Swift,Manchester,England,Etihad Stadium,Camila Cabello\nCharli XCX,"77,258 / 77,258","$6,169,724",Reputation_Stadium_Tour
11,12,Taylor Swift,Dublin,Ireland,Croke Park,Camila Cabello\nCharli XCX,"133,034 / 133,034","$8,567,769",Reputation_Stadium_Tour
12,13,Taylor Swift,Dublin,Ireland,Croke Park,Camila Cabello\nCharli XCX,"133,034 / 133,034","$8,567,769",Reputation_Stadium_Tour
13,14,Taylor Swift,London,England,Wembley Stadium,Camila Cabello\nCharli XCX,"143,427 / 143,427","$12,214,933",Reputation_Stadium_Tour
14,15,Taylor Swift,London,England,Wembley Stadium,Camila Cabello\nCharli XCX,"143,427 / 143,427","$12,214,933",Reputation_Stadium_Tour
15,16,Taylor Swift,Louisville,United States,Cardinal Stadium,Camila Cabello\nCharli XCX,"52,138 / 52,138","$4,928,219",Reputation_Stadium_Tour
16,17,Taylor Swift,Columbus,United States,Ohio Stadium,Camila Cabello\nCharli XCX,"62,897 / 62,897","$6,606,529",Reputation_Stadium_Tour
17,18,Taylor Swift,Landover,United States,FedExField,Camila Cabello\nCharli XCX,"95,672 / 95,672","$11,396,004",Reputation_Stadium_Tour
18,19,Taylor Swift,Landover,United States,FedExField,Camila Cabello\nCharli XCX,"95,672 / 95,672","$11,396,004",Reputation_Stadium_Tour
19,20,Taylor Swift,Philadelphia,United States,Lincoln Financial Field,Camila Cabello\nCharli XCX,"107,378 / 107,378","$11,951,047",Reputation_Stadium_Tour
20,21,Taylor Swift,Philadelphia,United States,Lincoln Financial Field,Camila Cabello\nCharli XCX,"107,378 / 107,378","$11,951,047",Reputation_Stadium_Tour
21,22,Taylor Swift,Cleveland,United States,FirstEnergy Stadium,Camila Cabello\nCharli XCX,"51,323 / 51,323","$5,148,757",Reputation_Stadium_Tour
22,23,Taylor Swift,East Rutherford,United States,MetLife Stadium,Camila Cabello\nCharli XCX,"165,654 / 165,654","$22,031,386",Reputation_Stadium_Tour
23,24,Taylor Swift,East Rutherford,United States,MetLife Stadium,Camila Cabello\nCharli XCX,"165,654 / 165,654","$22,031,386",Reputation_Stadium_Tour
24,25,Taylor Swift,East Rutherford,United States,MetLife Stadium,Camila Cabello\nCharli XCX,"165,654 / 165,654","$22,031,386",Reputation_Stadium_Tour
25,26,Taylor Swift,Foxborough,United States,Gillette Stadium,Camila Cabello\nCharli XCX,"174,764 / 174,764","$21,779,846",Reputation_Stadium_Tour
26,27,Taylor Swift,Foxborough,United States,Gillette Stadium,Camila Cabello\nCharli XCX,"174,764 / 174,764","$21,779,846",Reputation_Stadium_Tour
27,28,Taylor Swift,Foxborough,United States,Gillette Stadium,Camila Cabello\nCharli XCX,"174,764 / 174,764","$21,779,846",Reputation_Stadium_Tour
28,29,Taylor Swift,Toronto,Canada,Rogers Centre,Camila Cabello\nCharli XCX,"100,310 / 100,310","$11,177,000",Reputation_Stadium_Tour
29,30,Taylor Swift,Toronto,Canada,Rogers Centre,Camila Cabello\nCharli XCX,"100,310 / 100,310","$11,177,000",Reputation_Stadium_Tour
30,31,Taylor Swift,Pittsburgh,United States,Heinz Field,Camila Cabello\nCharli XCX,"56,445 / 56,445","$6,230,876",Reputation_Stadium_Tour
31,32,Taylor Swift,Atlanta,United States,Mercedes-Benz Stadium,Camila Cabello\nCharli XCX,"116,746 / 116,746","$18,089,415",Reputation_Stadium_Tour
32,33,Taylor Swift,Atlanta,United States,Mercedes-Benz Stadium,Camila Cabello\nCharli XCX,"116,746 / 116,746","$18,089,415",Reputation_Stadium_Tour
33,34,Taylor Swift,Tampa,United States,Raymond James Stadium,Camila Cabello\nCharli XCX,"55,909 / 55,909","$7,244,264",Reputation_Stadium_Tour
34,35,Taylor Swift,Miami Gardens,United States,Hard Rock Stadium,Camila Cabello\nCharli XCX,"47,818 / 47,818","$7,072,164",Reputation_Stadium_Tour
35,36,Taylor Swift,Nashville,United States,Nissan Stadium,Camila Cabello\nCharli XCX,"56,112 / 56,112","$9,007,179",Reputation_Stadium_Tour
36,37,Taylor Swift,Detroit,United States,Ford Field,Camila Cabello\nCharli XCX,"49,464 / 49,464","$6,597,852",Reputation_Stadium_Tour
37,38,Taylor Swift,Minneapolis,United States,U.S. Bank Stadium,Camila Cabello\nCharli XCX,"98,774 / 98,774","$10,242,024",Reputation_Stadium_Tour
38,39,Taylor Swift,Minneapolis,United States,U.S. Bank Stadium,Camila Cabello\nCharli XCX,"98,774 / 98,774","$10,242,024",Reputation_Stadium_Tour
39,40,Taylor Swift,Kansas City,United States,Arrowhead Stadium,Camila Cabello\nCharli XCX,"58,611 / 58,611","$6,730,138",Reputation_Stadium_Tour
40,41,Taylor Swift,Indianapolis,United States,Lucas Oil Stadium,Camila Cabello\nCharli XCX,"55,729 / 55,729","$6,531,245",Reputation_Stadium_Tour
41,42,Taylor Swift,St. Louis,United States,The Dome at America's Center,Camila Cabello\nCharli XCX,"47,831 / 47,831","$4,884,054",Reputation_Stadium_Tour
42,43,Taylor Swift,New Orleans,United States,Mercedes-Benz Superdome,Camila Cabello\nCharli XCX,"53,172 / 53,172","$6,491,546",Reputation_Stadium_Tour
43,44,Taylor Swift,Houston,United States,NRG Stadium,Camila Cabello\nCharli XCX,"53,800 / 53,800","$9,350,275",Reputation_Stadium_Tour
44,45,Taylor Swift,Arlington,United States,AT&T Stadium,Camila Cabello\nCharli XCX,"105,002 / 105,002","$15,006,157",Reputation_Stadium_Tour
45,46,Taylor Swift,Arlington,United States,AT&T Stadium,Camila Cabello\nCharli XCX,"105,002 / 105,002","$15,006,157",Reputation_Stadium_Tour
46,47,Taylor Swift,Perth,Australia,Optus Stadium,Charli XCX\nBroods,"50,891 / 50,891","$4,153,658",Reputation_Stadium_Tour
47,48,Taylor Swift,Melbourne,Australia,Marvel Stadium,Charli XCX\nBroods,"63,027 / 63,027","$6,755,570",Reputation_Stadium_Tour
48,49,Taylor Swift,Sydney,Australia,ANZ Stadium,Charli XCX\nBroods,"72,805 / 72,805","$7,686,564",Reputation_Stadium_Tour
49,50,Taylor Swift,Brisbane,Australia,The Gabba,Charli XCX\nBroods,"43,907 / 43,907","$4,338,127",Reputation_Stadium_Tour
50,51,Taylor Swift,Auckland,New Zealand,Mount Smart Stadium,Charli XCX\nBroods,"35,749 / 35,749","$3,617,593",Reputation_Stadium_Tour
51,52,Taylor Swift,Tokyo,Japan,Tokyo Dome,Charli XCX,"100,109 / 100,109","$14,859,847",Reputation_Stadium_Tour
52,53,Taylor Swift,Tokyo,Japan,Tokyo Dome,Charli XCX,"100,109 / 100,109","$14,859,847",Reputation_Stadium_Tour

In [79]:
json_documents_taylor = df_taylor.to_dict(orient='records') # convert dataframe to list of dictionaries it will be easier to insert into MongoDB latter
total_files = len(json_documents_taylor)

In [80]:
output_folder = r"data"
os.makedirs(output_folder, exist_ok=True)

#This code snippet creates the file path for events.json in the specified output_folder,
# then opens this file in write mode and writes the json_documents data to it in JSON format 
# with an indentation of 4 spaces for readability.

file_path = os.path.join(output_folder, 'events_taylor.json')
with open(file_path, 'w') as f:
    json.dump(json_documents_taylor, f, indent=4)

#METALLICA

In [81]:
metallica_file = r"data/raw_data/metallica/Metallica_gigs.csv"

if not os.path.exists(metallica_file):
    raise FileNotFoundError(f"File not found: {metallica_file}")

df_metallica = pd.read_csv(metallica_file, sep=';')

In [82]:
df_metallica.insert(1, "main_attraction", "Metallica") # insert column with main attraction
df_metallica['Date'] = pd.to_datetime(df_metallica['Date']) # convert Date column to datetime to drop
df_metallica = df_metallica[df_metallica['Date'].dt.year >= 2018] # rows with dates before 2018

In [83]:
df_metallica

,Date,main_attraction,Event,Venue,Location,Latitude,Longitude,Is_cancelled,Setlist_no,Song,Is_cover,Song_details,Song_profile_link,Tour,Other_acts,Concert_details,Concert_profile_link
29735,2018-02-01,Metallica,NaN,Altice Arena,"Lisbon,Portugal",38.707751,-9.136592,No,1,Hardwired,No,NaN,https://www.metallica.com/songs/hardwired.html,WorldWired,Kvelertak,NaN,https://www.metallica.com/tour/2018-02-01-lisb...
29736,2018-02-01,Metallica,NaN,Altice Arena,"Lisbon,Portugal",38.707751,-9.136592,No,2,"Atlas, Rise!",No,NaN,https://www.metallica.com/songs/atlas-rise.html,WorldWired,Kvelertak,NaN,https://www.metallica.com/tour/2018-02-01-lisb...
29737,2018-02-01,Metallica,NaN,Altice Arena,"Lisbon,Portugal",38.707751,-9.136592,No,3,Seek & Destroy,No,NaN,https://www.metallica.com/songs/seek-and-destr...,WorldWired,Kvelertak,NaN,https://www.metallica.com/tour/2018-02-01-lisb...
29738,2018-02-01,Metallica,NaN,Altice Arena,"Lisbon,Portugal",38.707751,-9.136592,No,4,Harvester of Sorrow,No,NaN,https://www.metallica.com/songs/harvester-of-s...,WorldWired,Kvelertak,NaN,https://www.metallica.com/tour/2018-02-01-lisb...
29739,2018-02-01,Metallica,NaN,Altice Arena,"Lisbon,Portugal",38.707751,-9.136592,No,5,Welcome Home (Sanitarium),No,NaN,https://www.metallica.com/songs/welcome-home-s...,WorldWired,Kvelertak,NaN,https://www.metallica.com/tour/2018-02-01-lisb...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32443,2023-12-14,Metallica,Soundstorm Festival,Banban,"Riyadh,Saudi Arabia",24.638916,46.716010,No,13,Seek & Destroy,No,NaN,https://www.metallica.com/songs/seek-and-destr...,M72 World Tour,NaN,NaN,https://www.metallica.com/tour/2023-12-14-riya...
32444,2023-12-14,Metallica,Soundstorm Festival,Banban,"Riyadh,Saudi Arabia",24.638916,46.716010,No,14,One,No,NaN,https://www.metallica.com/songs/one.html,M72 World Tour,NaN,NaN,https://www.metallica.com/tour/2023-12-14-riya...
32445,2023-12-14,Metallica,Soundstorm Festival,Banban,"Riyadh,Saudi Arabia",24.638916,46.716010,No,15,Master of Puppets,No,NaN,https://www.metallica.com/songs/master-of-pupp...,M72 World Tour,NaN,NaN,https://www.metallica.com/tour/2023-12-14-riya...
32446,2023-12-14,Metallica,Soundstorm Festival,Banban,"Riyadh,Saudi Arabia",24.638916,46.716010,No,16,Enter Sandman,No,NaN,https://www.metallica.com/songs/enter-sandman....,M72 World Tour,NaN,NaN,https://www.metallica.com/tour/2023-12-14-riya...
32447,2024-03-20,Metallica,The Library of Congress Gershwin Prize for Pop...,DAR Constitution Hall,"Washington,District of Columbia,United States",38.895037,-77.036543,No,1,Funeral for a Friend/Love Lies Bleeding,Yes,NaN,https://www.metallica.com/songs/funeral-for-a-...,NaN,"Joni Mitchell,Garth Brooks,Brandi Carlile,Anni...",NaN,https://www.metallica.com/tour/2024-03-20-wash...

Every row is a song played in a concert, let's concatenate the songs in just one element and drop some useless columns to this project.

In [84]:
df_metallica['Song'] = df_metallica['Song'].astype(str) # convert Song column to string to avoid errors
# group songs by checking Date, Event, Location and Venue and join them with a comma to the new "Songs" column
df_metallica['Songs'] = df_metallica.groupby(['Date', 'Event', 'Location', 'Venue'])['Song'].transform(lambda x: ', '.join(x))

In [85]:
# drop events duplicates and reset index
df_metallica.drop_duplicates(subset=['Date', 'Location', 'Venue'], keep='first', inplace=True) 
df_metallica.reset_index(drop=True, inplace=True)

In [86]:
df_metallica.fillna("-", inplace=True)

In [87]:
#make shure that all columns are strings (ive had some problems with this in the past)
df_metallica = df_metallica.astype(str)

In [88]:
#drop some useless columns to this project
metallica_culumns_to_exclude = ['Setlist_no', 'Song', 'Is_cover', 'Song_details', 'Song_profile_link']
df_metallica = df_metallica.drop(columns=metallica_culumns_to_exclude)

In [89]:
total_files += 1
# insert event_id column continuing from the last event_id of the previous dataframe
df_metallica.insert(0, "event_id", range(total_files, total_files + len(df_metallica)))

In [90]:
df_metallica

,event_id,Date,main_attraction,Event,Venue,Location,Latitude,Longitude,Is_cancelled,Tour,Other_acts,Concert_details,Concert_profile_link,Songs
0,54,2018-02-01,Metallica,-,Altice Arena,"Lisbon,Portugal",38.7077507,-9.1365919,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-01-lisb...,-
1,55,2018-02-03,Metallica,-,WiZink Center,"Madrid,Spain",40.4167047,-3.7035825,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-03-madr...,-
2,56,2018-02-05,Metallica,-,WiZink Center,"Madrid,Spain",40.4167047,-3.7035825,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-05-madr...,-
3,57,2018-02-07,Metallica,-,Palau Sant Jordi,"Barcelona,Spain",41.3828939,2.1774322,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-07-barc...,-
4,58,2018-02-10,Metallica,-,Pala Alpitour,"Turin,Italy",45.0677551,7.6824892,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-10-turi...,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,244,2023-11-05,Metallica,-,Dome at America’s Center,"St. Louis,Missouri,United States",38.6280278,-90.1910154,No,M72 World Tour,"Five Finger Death Punch,Ice Nine Kills",-,https://www.metallica.com/tour/2023-11-05-st-l...,-
191,245,2023-11-10,Metallica,-,Ford Field,"Detroit,Michigan,United States",42.3315509,-83.0466403,No,M72 World Tour,"Pantera,Mammoth WVH",-,https://www.metallica.com/tour/2023-11-10-detr...,-
192,246,2023-11-12,Metallica,-,Ford Field,"Detroit,Michigan,United States",42.3315509,-83.0466403,No,M72 World Tour,"Five Finger Death Punch,Ice Nine Kills",-,https://www.metallica.com/tour/2023-11-12-detr...,-
193,247,2023-12-14,Metallica,Soundstorm Festival,Banban,"Riyadh,Saudi Arabia",24.638916,46.7160104,No,M72 World Tour,-,-,https://www.metallica.com/tour/2023-12-14-riya...,"Creeping Death, For Whom the Bell Tolls, Where..."
194,248,2024-03-20,Metallica,The Library of Congress Gershwin Prize for Pop...,DAR Constitution Hall,"Washington,District of Columbia,United States",38.8950368,-77.0365427,No,-,"Joni Mitchell,Garth Brooks,Brandi Carlile,Anni...",-,https://www.metallica.com/tour/2024-03-20-wash...,Funeral for a Friend/Love Lies Bleeding

In [91]:
for column in df_metallica.select_dtypes(include=['datetime']):
        df_metallica[column] = df_metallica[column].apply(lambda x: x if pd.notnull(x) else None)

In [92]:
df_metallica['City'] = df_metallica['Location'].str.split(',', expand=True)[0]

In [93]:
df_metallica['Country'] = df_metallica['Location'].str.rsplit(',', n=1, expand=True)[1]

In [94]:
df_metallica = df_metallica.drop(columns='Location')

In [95]:
df_metallica.head()

,event_id,Date,main_attraction,Event,Venue,Latitude,Longitude,Is_cancelled,Tour,Other_acts,Concert_details,Concert_profile_link,Songs,City,Country
0,54,2018-02-01,Metallica,-,Altice Arena,38.7077507,-9.1365919,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-01-lisb...,-,Lisbon,Portugal
1,55,2018-02-03,Metallica,-,WiZink Center,40.4167047,-3.7035825,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-03-madr...,-,Madrid,Spain
2,56,2018-02-05,Metallica,-,WiZink Center,40.4167047,-3.7035825,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-05-madr...,-,Madrid,Spain
3,57,2018-02-07,Metallica,-,Palau Sant Jordi,41.3828939,2.1774322,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-07-barc...,-,Barcelona,Spain
4,58,2018-02-10,Metallica,-,Pala Alpitour,45.0677551,7.6824892,No,WorldWired,Kvelertak,-,https://www.metallica.com/tour/2018-02-10-turi...,-,Turin,Italy

In [96]:
df_metallica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_id              195 non-null    int64
 1   Date                  195 non-null    object
 2   main_attraction       195 non-null    object
 3   Event                 195 non-null    object
 4   Venue                 195 non-null    object
 5   Latitude              195 non-null    object
 6   Longitude             195 non-null    object
 7   Is_cancelled          195 non-null    object
 8   Tour                  195 non-null    object
 9   Other_acts            195 non-null    object
 10  Concert_details       195 non-null    object
 11  Concert_profile_link  195 non-null    object
 12  Songs                 195 non-null    object
 13  City                  195 non-null    object
 14  Country               195 non-null    object
dtypes: int64(1), object(14)
memory usage: 23.0+ KB

In [97]:
json_documents_metallica = df_metallica.to_dict(orient='records')

In [98]:
output_folder = r"data"
os.makedirs(output_folder, exist_ok=True)

#This code snippet creates the file path for events.json in the specified output_folder,
# then opens this file in write mode and writes the json_documents data to it in JSON format 
# with an indentation of 4 spaces for readability.

file_path = os.path.join(output_folder, 'events_metallica.json')
with open(file_path, 'w') as f:
    json.dump(json_documents_metallica, f, indent=4)
total_files += len(df_metallica)

#Users

In [99]:
user_file = r"data/raw_data/Users.csv"

if not os.path.exists(user_file):
    raise FileNotFoundError(f"File not found: {user_file}")

# Get the total number of lines in the file
with open(user_file, 'r') as f:
    total_lines = sum(1 for line in f)

# Calculate the number of lines to read for each half
ten_percent = total_lines // 10

# Read the first half of the file

# Continue with your code...

FileNotFoundError: File not found: data/raw_data/Users.csv

In [ ]:
df_users = pd.read_csv(user_file, nrows=1000)

In [ ]:
user_culumns_to_exclude = ['UserName', 'PerformanceTier', 'RegisterDate']
df_users = df_users.drop(columns=user_culumns_to_exclude)

In [ ]:
df_users.dropna(inplace=True)

In [ ]:
df_users.head()

    Id        DisplayName         Country
1  368  Anthony Goldbloom   United States
2  381           Isabelle   United States
3  383      David Stephan       Australia
4  384        Gabe Warren       Australia
5  385         Demon Josh  United Kingdom

In [ ]:
#df_users['tikets'] = ''

TICKETS

In [ ]:
print(len(df_users))
for index, row in df_users.iterrows():
    print(index)
    df_tickets = pd.DataFrame(columns=['user_id', 'event_id'])
    country = row['Country']
    user_id = row['Id']

    for index, row_taylor in df_taylor.iterrows():
        event_id = row_taylor['event_id']
        if country in row_taylor['Country']:
            df_tickets = pd.concat([df_tickets, pd.DataFrame({'event_id': [event_id], 'user_id': [user_id]})], ignore_index=True)
    
    for index, row_metallica in df_metallica.iterrows():
        event_id = row_metallica['event_id']
        country_metallica = row_metallica['Location'].split(',')[-1].strip()  # Extract country from Location
        if country in country_metallica:
            df_tickets = pd.concat([df_tickets, pd.DataFrame({'event_id': [event_id], 'user_id': [user_id]})], ignore_index=True)
    
    df_tickets.to_csv(f'data/tickets/tickets_{user_id}.csv', index=False)

975
1
2
3
4
5
7
8
9
10
11
12
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
98
99
100
101
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
125
126
127
128
129
130
131
132
133
134
135
136
137
139
140
141
142
143
144
145
146
147
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
189
190
191
192
193
194
195
196
197
198
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
337
338
339
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
840
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [ ]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 975 entries, 1 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           975 non-null    int64
 1   DisplayName  975 non-null    object
 2   Country      975 non-null    object
dtypes: int64(1), object(2)
memory usage: 30.5+ KB

In [ ]:
df_users.rename(columns={'DisplayName': 'Name'}, inplace=True)

In [ ]:
#df_users = df_users[df_users['tikets'].str.len() <= 100]

In [ ]:
df_users.dropna(subset=None, inplace=True)

In [ ]:
df_users.head()

    Id               Name         Country
1  368  Anthony Goldbloom   United States
2  381           Isabelle   United States
3  383      David Stephan       Australia
4  384        Gabe Warren       Australia
5  385         Demon Josh  United Kingdom

In [ ]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 975 entries, 1 to 999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       975 non-null    int64
 1   Name     975 non-null    object
 2   Country  975 non-null    object
dtypes: int64(1), object(2)
memory usage: 30.5+ KB

In [ ]:
df_users.to_csv('data/users.csv', index=False)